{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/dist/main.js' %}"></script>
    <title>主菜单</title>
</head>

<body style="margin: 0">
<div id="godeyes_123456789"></div>
<script>
    $(document).ready(function () {
        let godeyes = new GodEyes("godeyes_123456789");
    });
</script>
</body>